:root {
    --purple: #6857ff;
}

* {
    box-sizing: border-box;
    color: gray;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav,
footer {
    box-shadow: 0 0.2rem 1rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    margin-bottom: 0;
    padding: 2rem 0;
}

#logo {
    width: 3rem;
}

#sign_up_btn {
    background-color: var(--purple);
    border-radius: 2rem;
    color: white;
}

#sign_up_btn:hover {
    background-color: #4030ce;
    transition-duration: 0.2s;
}

#sign_in_btn:hover,
.nav-link:hover {
    color: var(--purple) !important;
    transition-duration: 0.2s;
}

#mainNavbar {
    margin-left: 5rem;
}

.form-inline button,
.nav-link {
    font-weight: 500;
}

.nav-link {
    color: black !important;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}
