:root {
    --purple: #6857ff;
}

* {
    box-sizing: border-box;
    color: gray;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    margin-bottom: 4rem;
}

footer {
    margin-top: 2rem;
}

footer p {
    margin-bottom: 0;
    padding: 2rem 0;
}

#logo {
    width: 3rem;
}

#sign_up_btn {
    border-radius: 2rem;
}

#sign_in_btn {
    padding-left: 0;
}

#sign_in_btn:hover,
.nav-link:hover,
.form-inline a:hover {
    color: var(--purple) !important;
    transition-duration: 0.2s;
}

#guest_navbar #mainNavbar,
#member_navbar #mainNavbar {
    margin-left: 5rem;
}

#admin_navbar #mainNavbar {
    margin-left: 2rem;
}

#navbar_profile {
    display: flex;
    flex-direction: column;
}

.form-inline a {
    color: gray;
    text-decoration: none;
}

.text-black {
    color: black !important;
}

.form-inline button,
.nav-link {
    font-weight: 500;
}

.container-fluid {
    display: flex;
    flex-direction: column;
}

.purple-btn {
    background-color: var(--purple);
    color: white;
    transition: 0.2s;
}

.purple-btn:hover {
    box-shadow: 0 0.3rem 0.5rem #afa7ff;
    color: white;
    transform: translateY(-0.1rem);
}

.grey-shadow {
    box-shadow: 0 0.2rem 1rem #cdcdcd;
}
