table {
    border-collapse: separate;
    border-spacing: 0 2rem;
}

caption {
    caption-side: top;
}

caption h5,
#user_cart p,
.table {
    margin-bottom: 0;
}

#user_cart tr > td:first-child {
    display: flex;
    align-items: center;
}

#user_cart {
    width: 90%;
}

#user_cart img {
    height: 5rem;
    border-radius: 100%;
}

#user_cart p {
    margin: 0 0 0 1rem;
}

#empty_cart_message,
#checkout_form,
.transaction-details-wrapper h5 {
    margin-left: 5%;
}

#checkout_form input {
    width: 10%;
}

.table thead th,
.table tbody td {
    border: none;
}

.table thead th {
    background-color: #95a5a6;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.table tbody td {
    vertical-align: middle;
}

.transaction-container + .gradient-hr {
    /* padding: 0 5rem; */
    width: 90%;
    margin: 2rem 0;
}
