#insert_product_form {
    padding: 0 5rem;
}

#insert_product_form .gradient-hr {
    margin: 2rem 0;
}

#insert_product_form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

#insert_cancel_btns_container button {
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}
