#sign_up_form {
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem #cdcdcd;
    margin: 2rem 0 4rem;
    padding: 2rem;
    width: 35%;
}

#sign_up_form button {
    margin-top: 1rem;
    width: 100%;
}